node_modules
dist
.next
.env.local
.git
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
.venv
.env
.DS_Store
cdk.out
cdk/cdk.out
**/cdk.out
*.log
# VSCode
.vscode
# テスト成果物
coverage*
htmlcov
.mypy_cache
.pytest_cache
# その他
*.swp
*.bak

tests
.github
.pytest_cache
.ruff_cache
.venv
.vscode
README.md
